@model TeamReview.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<h1>@ViewBag.Title</h1>
<h2>Login into an existing TeamReview account</h2>
<section class="social" id="socialLoginForm">
    <h3>Use one of the following services to log in:</h3>

    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
