@model TeamReview.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Create a new TeamReview account</h2>
</hgroup>

<section class="social" id="socialLoginForm">
    <h3>Use one of the following services to register:</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>