<h1>Improve Your Team's and Your Own Performance with TeamReview</h1>

<div class="block-top">    
    <p>TeamReview is a simple little tool that lets you give regular and scheduled reviews.</p>
    <p>You can create your own categories that you want to review, e.g. Productivity, Skill, Teamwork, Creativity.</p>    
</div>
<blockquote>
    <p class="q-text">Tell me how you will measure me and I will tell you how I will behave</p>
    <p class="q-author">&mdash; Eli Goldratt</p>
</blockquote>

<h2>How does TeamReview work?</h2>
<div class="block-top">
    <h3>1. Create a Review</h3>
    <p>Add Categories and Invite Peers</p>
    <h3>2. Complete the Review</h3>
    <p>Let your team rate everyone's performance for all categories</p>
    <h3>3. Learn from the Results</h3>
    <p>Review your results by looking at visual charts</p>
</div>

<h2>Feedback for Improvement</h2>
<div class="block-top">
    
    <p>We all know, there is no better way to improve your performance, skills, team work then getting feedback.</p>
    <p>TeamReview let's you create custom feedback reviews.</p>
    <p>You can review your own and your peers performance.</p>
</div>

<h2>Measuring Improvement</h2>
<div class="block-top">    
    <p>The key to improving is to measure regularly.</p>
    <p>This is why TeamReview let's you conduct your reviews on a repeating schedule every month.</p>
    <p>This way you can compare your current results with historical data.</p>
    <p>You can discover trends, check out, where you have improved and prioritize areas, where you should get better.</p>
</div>

<h2>Why did we build TeamReview?</h2>
<div class="block-top">
    
    <p>You probably heard, how well-known companies such as Microsoft and Valve do peer reviews and stack reviews.</p>
    <p>After publishing their New Employee Handbook, the whole industry was raging about Valve's flat hierarchy and self-organized work.</p>
    <p>Well, one central key to their success is their process of peer reviews on a regular basis.</p>
    <p>Valve, being a very successful company, can afford to have a dedicated team that conducts these reviews.</p>
    <p>If you are not quite as big as Valve or Microsoft, we created a tool, that allows you to do the same thing quite easily: TeamReview</p>
</div>
    
<h2>Conduct Peer Reviews from Anywhere</h2>
<div class="block-top">
    <p>If you are a small, distributed team as we are at teamaton, you can neither afford to have a dedicated team to conduct your reviews. You can't even meat up to conduct them.</p>
    <p>TeamReview allows you to conduct your peer review from anywhere online.</p>
</div>

<h2>Stack Ranking as a Tool for Comparing Performance</h2>
<div class="block-top">
    <p>TeamReview not only allows you to collect and analyze individual performance.</p>
    <p>You can also compare how team members compare to each other.</p>
    <p>At Valve, for example, the stack review is used to determine the sallery of team members.</p>
</div>
