<h1>Welcome to TeamReview!</h1>

<div class="well">
    <h2>Review Yourself, Your Peers and Your Team's Performance</h2>
    <p>TeamReview is a simple little tool that lets you give regular and scheduled reviews.</p>
    <p>You can create your own categories that you want to review, e.g. Productivity, Skill, Teamwork, Creativity.</p>
    <blockquote>Tell me how you will measure me and I will tell you how I will behave - Eli Goldratt</blockquote>
</div>
<div class="well">
    <h2>Feedback for Improvement</h2>
    <p>We all know, there is no better way to improve your performance, skills, team work then getting feedback.</p>
    <p>TeamReview let's you create custom feedback reviews.</p>
    <p>You can review your own and your peers performance.</p>
    <h2>Measuring Improvement</h2>
    <p>The key to improving is to measure regularly.</p>
    <p>This is why TeamReview let's you conduct your reviews on a repeating schedule every month.</p>
    <p>This way you can compare your current results with historical data.</p>
    <p>You can discover trends, check out, where you have improved and prioritize areas, where you should get better.</p>
    <h2>Why did we build TeamReview?</h2>
    <p>You probably heard, how well-known companies such as Microsoft and Valve do peer reviews and stack reviews.</p>
    <p>After publishing their New Employee Handbook, the whole industry was raging about Valve's flat hierarchy and self-organized work.</p>
    <p>Well, one central key to their success is their process of peer reviews on a regular basis.</p>
    <p>Valve, being a very successful company, can afford to have a dedicated team that conducts these reviews.</p>
    <p>If you are not quite as big as Valve or Microsoft, we created a tool, that allows you to do the same thing quite easily: TeamReview</p>
    <h2>Conduct Peer Reviews from Anywhere</h2>
    <p>If you are a small, distributed team as we are at teamaton, you can neither afford to have a dedicated team to conduct your reviews. You can't even meat up to conduct them.</p>
    <p>TeamReview allows you to conduct your peer review from anywhere online.</p>
    <h2>Stack Reviews as a Tool for Comparing Performance</h2>
    <p>TeamReview not only allows you to collect and analyze individual performance.</p>
    <p>You can also compare how team members compare to each other.</p>
    <p>At Valve, for example, the stack review is used to determine the sallery of team members.</p>
</div>
<div class="well">    
    <h2>Step 1: Register</h2>
    <p>@Html.ActionLink("Register", "LogOn", "LogOn", new { @class = "btn btn-success" })</p>
</div>
<div class="well">
    <h2>Step 2: Create a new Review</h2>
    <p>@Html.ActionLink("Create Review", "CreateReview", "CreateReview", new { @class = "btn btn-success" })</p>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputReviewName">Review Name</label>
            <div class="controls">
                <input type="text" id="inputReviewName" placeholder="for example: teamaton devs review">
            </div>
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-success">Save Review</button>
        </div>
    </form>
</div>
<div class="well">
    <h2>Step 3: Create Categories</h2>
    <p>@Html.ActionLink("Add Category", "AddCategory", "AddCategory", new { @class = "btn btn-success" })</p>
    
    <p class="info">Advice: Think about which behaviour you want to encourage in your team.</p>
    <p class="info">If you need some inspiration, <a href="http://assets.sbnation.com/assets/1074301/Valve_Handbook_LowRes.pdf" target="_blank">check out the valve handbook (pages 25-33)</a>. They have four categories: Skill, Productivity, Group Contribution and Product Contribution.</p>
    
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputCategoryName">Category Name</label>
            <div class="controls">
                <input type="text" id="inputCategoryName" placeholder="for example: productivity, skills...">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCategoryDescription">Category Description</label>
            <div class="controls">
                <textarea rows="5" class="input-xxlarge" id="inputCategoryDescription" placeholder="How much work do you get done in a certain amount of time..."></textarea>
            </div>
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-success">Save Category</button>
        </div>
    </form>
    <h2>Step 3.1: Create More Categories</h2>
</div>
<div class="well">
    <h2>Step 4: Invite Peers for Reviewing</h2>
    <p class="info">Invite your co-workers, colleagues, team mates - whoever you want to participate in your review.</p>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputUserName">User Name</label>
            <div class="controls">
                <input type="text" id="inputUserName" placeholder="for example: Larissa, Bill Gates...">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUserEmail">Email</label>
            <div class="controls">
                <input type="text" id="inputUserEmail" placeholder="name@company.com" />
            </div>
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-success">Save Peer</button>
        </div>
    </form>
    <h2>Step 4.1: Invite more Peers</h2>
</div>
