<h1>Welcome to TeamReview!</h1>

<div>
    <h2>Review Yourself, Your Peers and Your Team's Performance</h2>
    <p>TeamReview is a simple little tool that lets you give regular and scheduled reviews.</p>
    <p>You can create your own categories that you want to review, e.g. Productivity, Skill, Teamwork, Creativity.</p>
    <blockquote>Tell me how you will measure me and I will tell you how I will behave - Eli Goldratt</blockquote>
</div>
<div>
    <h2>Feedback for Improvement</h2>
    <p>We all know, there is no better way to improve your performance, skills, team work then getting feedback.</p>
    <p>TeamReview let's you create custom feedback reviews.</p>
    <p>You can review your own and your peers performance.</p>
    <h2>Measuring Improvement</h2>
    <p>The key to improving is to measure regularly.</p>
    <p>This is why TeamReview let's you conduct your reviews on a repeating schedule every month.</p>
    <p>This way you can compare your current results with historical data.</p>
    <p>You can discover trends, check out, where you have improved and prioritize areas, where you should get better.</p>
    <h2>Why did we build TeamReview?</h2>
    <p>You probably heard, how well-known companies such as Microsoft and Valve do peer reviews and stack reviews.</p>
    <p>After publishing their New Employee Handbook, the whole industry was raging about Valve's flat hierarchy and self-organized work.</p>
    <p>Well, one central key to their success is their process of peer reviews on a regular basis.</p>
    <p>Valve, being a very successful company, can afford to have a dedicated team that conducts these reviews.</p>
    <p>If you are not quite as big as Valve or Microsoft, we created a tool, that allows you to do the same thing quite easily: TeamReview</p>
    <h2>Conduct Peer Reviews from Anywhere</h2>
    <p>If you are a small, distributed team as we are at teamaton, you can neither afford to have a dedicated team to conduct your reviews. You can't even meat up to conduct them.</p>
    <p>TeamReview allows you to conduct your peer review from anywhere online.</p>
    <h2>Stack Ranking as a Tool for Comparing Performance</h2>
    <p>TeamReview not only allows you to collect and analyze individual performance.</p>
    <p>You can also compare how team members compare to each other.</p>
    <p>At Valve, for example, the stack review is used to determine the sallery of team members.</p>
</div>
