@{
    ViewBag.Title = "Peer Reviews - Feedback to Improve Your Performance | TeamReview.com";
}

<div class="content-s">
    <h1>Peer Reviews with TeamReview</h1>
    <p class="block-top"><img src="/content/pics/peer-reviews.png" alt="Peer Review - Team Member Performance Chart" /></p>
    <p class="pic-text info">Example <strong>peer review chart</strong> with 5 team members and 4 categories</p>

    
    <h2>What is a Peer Review?</h2>
    <div class="block-top">
        <p>A Peer Review is performance review method by which you compare team member performance for a given category.</p>            
    </div>
    <blockquote>        
        <p class="q-text">Peer review is the evaluation of work by one or more people of similar competence to the producers of the work (peers)</p>
        <p class="q-author"><a href="http://en.wikipedia.org/wiki/Peer_review" target="_blank">&mdash; from wikipedia</a></p>
    </blockquote>

<div class="sidebar">
    @Html.Partial("_Sidebar")
</div>