@{
    ViewBag.Title = "Performance Review - Evaluate your own progress | TeamReview.com";
}

<h1>Performance Review - Evaluate Your Own Progress</h1>
<p class="block-top"><img src="/content/pics/my-rating.png" alt="Performance Review - Progress Evaluation" /></p>
<p class="pic-text">Example <strong>performance review chart</strong> - comparing your own rating vs. how your peers rated you</p>
