@{
    ViewBag.Title = "Stack Ranking - Improve Your Team's Performance | TeamReview.com";
}

<h1>Stack Ranking with TeamReview</h1>
<p class="block-top"><img src="/content/pics/stack-ranking.png" alt="Stack Ranking - Team Performance Chart" /></p>
<p class="pic-text info">Example <strong>stack ranking chart</strong> with 5 team members and 4 categories</p>
<h2>What is Stack Ranking?</h2>
<div class="block-top">
    <p><a href="http://en.wikipedia.org/wiki/Vitality_curve">wikipedia on vitality curve aka stack ranking</a></p>
</div>
<h2>How Does Stack Ranking Improve the Performance of my Team?</h2>
<div class="block-top">
    <p><a href="http://www.forbes.com/sites/robertsher/2012/07/10/the-case-for-stack-ranking-of-employees/">why do stackranking?</a></p>
</div>
<h2>In Real Life: The Good, The Bad, The Ugly of Stack Ranking</h2>
<div class="block-top">
    <p><a href="http://www.forbes.com/sites/petercohan/2012/07/13/why-stack-ranking-worked-better-at-ge-than-microsoft/">example Microsoft</a></p>
</div>
