@{
    ViewBag.Title = "Stack Ranking - Improve Your Team's Performance | TeamReview.com";
}

<h1>Stack Ranking with TeamReview</h1>
<p class="block-top"><img src="/content/pics/stack-ranking.png" alt="Stack Ranking - Team Performance Chart" /></p>
<p class="pic-text info">Example <strong>stack ranking chart</strong> with 5 team members and 4 categories</p>

<h2>What is Stack Ranking?</h2>
<div class="block-top">
    <blockquote>        
        <p class="q-text">A vitality curve (aka stack rating) is a leadership construct whereby a workforce is graded in accordance with the individual productivity of its members</p>
        <p class="q-author"><a href="http://en.wikipedia.org/wiki/Vitality_curve" target="_blank">&mdash; from wikipedia</a></p>
    </blockquote>    
    <h3>Comparing Team Members</h3>
    <p>The basic idea behind <strong>stack ranking</strong> is to allow you evaluate the performance of your team members.</p>
    <p>You do this by "stacking" (meaning: adding) the ratings for all <strong>review categories</strong> of a perticular team member. This gives you an overall rating that in turn let's you compare your team members.</p>
    <blockquote>        
        <p class="q-text">Unlike peer reviews, which generate information for each individual, stack ranking is done in order to gain insight into who’s providing the most value at the company</p>
        <p class="q-author"><a href="http://assets.sbnation.com/assets/1074301/Valve_Handbook_LowRes.pdf" target="_blank">&mdash; from the Valve Handbook</a></p>
    </blockquote>
</div>
<h2>Stack Ranking and Team Performance Improvement</h2>
<div class="block-top">
    <p><a href="http://www.forbes.com/sites/robertsher/2012/07/10/the-case-for-stack-ranking-of-employees/">why do stackranking?</a></p>
</div>
<h2>In Real Life: The Good, The Bad, The Ugly of Stack Ranking</h2>
<div class="block-top">
    <p><a href="http://www.forbes.com/sites/petercohan/2012/07/13/why-stack-ranking-worked-better-at-ge-than-microsoft/">example Microsoft</a></p>
</div>
