@{
    ViewBag.Title = "Stack Ranking - Improve Your Team's Performance | TeamReview.com";
}

<div class="content-s">
    <h1>Stack Ranking with TeamReview</h1>
    <p class="block-top"><img src="/content/pics/stack-ranking.png" alt="Stack Ranking - Team Performance Chart" /></p>
    <p class="pic-text info">Example <strong>stack ranking chart</strong> with 5 team members and 4 categories</p>

    
    <h2>What is Stack Ranking?</h2>
    <div class="block-top">
        <p>Stack ranking is a method to compare the overall performance of team members.</p>            
    </div>
    <blockquote>        
        <p class="q-text">Stack ranking is a leadership construct whereby a workforce is graded in accordance with the individual productivity of its members</p>
        <p class="q-author"><a href="http://en.wikipedia.org/wiki/Vitality_curve" target="_blank">&mdash; from wikipedia</a></p>
    </blockquote>

    <h3>Comparing Team Members</h3>
    <div class="block-top">
        <p>
            In TeamReview it is very simple: You take all ratings for every category of a team member and just stack them on top of each other.
            By the ratings together you get a stack ranking rating.
            This in turn gives you the possibility to compare overall individual impact for each team member.
        </p>        
    </div>
    <blockquote>        
        <p class="q-text">Unlike peer reviews, which generate information for each individual, stack ranking is done in order to gain insight into who’s providing the most value at the company</p>
        <p class="q-author"><a href="http://assets.sbnation.com/assets/1074301/Valve_Handbook_LowRes.pdf" target="_blank">&mdash; from the Valve Handbook</a></p>
    </blockquote>

    <h2>Stack Ranking and Team Performance Improvement</h2>
    <div class="block-top">
        <p>What are the <strong>reasons</strong> to do stack ranking?</p>
        <ul>
            <li>improve your team's performance by <strong>motivating team members</strong> to improve their individual performance</li>
            <li>give team members a <strong>bird's view</strong> on their performance</li>
            <li>focus on <strong>overall contribution</strong> to your team</li>
        </ul>
        <p><a href="http://www.forbes.com/sites/robertsher/2012/07/10/the-case-for-stack-ranking-of-employees/">why do stackranking?</a></p>
    </div>
    <h3>Make Decision based on Facts - Helping Team Members Improve</h3>
    <div class="block-top">
        <p>
            A very practical reason for conducting stack rankings is to figure out how you can <strong>help certain team members</strong>.
            This can be <strong>training</strong>, further education, position reevaluation and so forth.
            Not only this, being at the bottom of a stack ranking also should <strong>increase your own personal motivation</strong> to improve. 
        </p>
    </div>
   <h3>Low, Average and High Performers</h3>    
   <div class="block-top">
       <p>
            If you are interested on more on the topic of how a team's performance can improve through stack ranking, read the following <strong>Forbes Magazine article</strong>.
            <a href="http://www.forbes.com/sites/robertsher/2012/07/10/the-case-for-stack-ranking-of-employees/" target="_blank">The author and entrepreneur Robert Sher makes a case for stack ranking.</a>
            He talks about how <strong>reducing the gap between low and high performersimproves overall team performance</strong>.
            Even though he encourages you to fire low performers, his points are still valid and interesting.
        </p>    
    </div>
    <h2>In Real Life: The Good, The Bad, The Ugly of Stack Ranking</h2>
    <div class="block-top">
        <p>
            <a href="http://www.forbes.com/sites/petercohan/2012/07/13/why-stack-ranking-worked-better-at-ge-than-microsoft/">While Microsoft apparently has failed at using stack ranking for the better</a>
            other companies are obviously quite succesful with this approach.        
        </p>        
    </div>
    <h3>Using Stack Ranking to Determine Compensation</h3>
    <div class="block-top">
        <p><a href="http://www.valve.com" target="_blank">Valve</a>, is one of the leaders in the computer gaming industry and famous for their counter strike engine and even more their steam game shop.</p>
        <p>They use the technique of stack ranking to <strong>determine the compensation</strong> for their team members. The higher you stack against your peers, the more you earn.</p>
        <p>If you want to find out more about how Valve uses <a href="/peer-reviews">peer reviews</a> and stack ranking, check out the <a href="http://assets.sbnation.com/assets/1074301/Valve_Handbook_LowRes.pdf" target="_blank">Valve handbook for new employees.</a></p>
        <p>The Valve handbook definitely was a <strong>huge inspiration for us</strong> to create TeamReview.</p>
    </div>
</div>
<div class="sidebar">
    @Html.Partial("_Sidebar")
</div>