@model TeamReview.Web.ViewModels.PeerAddModel

<tr>
    <td>@Html.EditorFor(model => model.UserName)@Html.ValidationMessageFor(model => model.UserName)</td>
    <td>@Html.EditorFor(model => model.EmailAddress)@Html.ValidationMessageFor(model => model.EmailAddress)</td>
    <td><a>remove</a></td>
</tr>