@model TeamReview.Web.Models.ReviewConfiguration
@using TeamReview.Web.Models

@{
    ViewBag.Title = "Create Review";
}

<h2>Create Review</h2>

@{ Html.RenderPartial("CreateOrEdit", Model); }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <s@*cript type="text/javascript">
        $(function () {
            var nextCategory = 0;
            $("#addCategory").on('click', function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: this.href,
                    cache: false
                }).done(function (html) {
                    var newName = 'Categories[' + nextCategory + '].Name';
                    var newDescription = 'Categories[' + nextCategory + '].Description';
                    var $modifiedHtml = $(html)
                        .find('#Name').attr('name', newName).attr('id', newName).end()
                        .find('#Description').attr('name', newDescription).attr('id', newDescription).end()
                        .find('label[for=Name]').attr('for', newName).end()
                        .find('label[for=Description]').attr('for', newDescription).end();
                    $("#categories").append($modifiedHtml);
                    nextCategory++;
                });
            });
        });
    </script*@>
}
